# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Vector DB / binaries
*.sqlite3
chroma.sqlite3

# OS files
.DS_Store

# Generated outputs
outputs/
*.pdf
*.sqlite3

# Streamlit
.streamlit/

